/* EventsPage.css */

.events-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-box {
  margin-bottom: 32px;
}

.submit-button {
  margin-top: 16px;
}

.table-container {
  margin-top: 20px;
}
